<section class="banner">
    <h1> Welcome on the creation of an API REST!</h1>
</section>


<br>
<div class="container">
    <br><br>
    <div class="row paragraph">
        <a><h3 style="text-align: center">WHAT IS THIS PROJECT ?</h3></a>
        <div class="justified-text-center">
            <span>
            The purpose of this project is to create a REST API with NodeJS to serve data from a JSON database.
                <br>
                The database to use in this project is a JSON file that contains information on Nobel Prizes and Nobel Laureates. <strong>(prize.json)</strong><br>
                <br>
                <h5>TASK TO DO:</h5>
                <ul></ul>

                <ul class="styled">
                <li> Create the API entry point, routers, controllers, and services (or models).</li>
                <li>15 features about the laureates, prizes, categories, years...</li>
                <li> Swagger documentation to all F1-F15 features. Dedicate the road <strong>/api-docs</strong> for Swagger documentation.</li>
                </ul>
            </span>
        </div>
    </div>
    <br><br>
    <div class="row ligne"></div>
</div>